<!-- <footer id="footer">
    <div class="container-fluid">
      <img class="me-pic" src="assets/images/logo.png" alt=""><br>
      <a class="back" href="#main"><i class="fas fa-caret-up fa-3x"></i></a>
      <p>©2019 AAR</p>
    </div>
  </footer> -->

  <footer id="sticky-footer" class="py-4 text-white-50">
      <div class="container ">
        <div class = "d-flex flex-column justify-content-center align-items-center p-1">
         <div class="col-lg-1 col-md-8 mb-2">
       <!--  <div class="view overlay z-depth-1-half">-->
        <img src="assets/images/logo.png" class="img-fluid"
              alt="">
              <a href="">
                 <div class="mask rgba-white-light"></div>
            </a>
          </div>
        <small>&copy;2019 AAR</small>
      </div>
      </div>
    </footer>
  <!-- Footer -->
  