<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" style="width:50px"></a>
      
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="./login">Log In</button>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" routerLink="../adminhome">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="../home">Logout <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="./Order">About us <span class="sr-only">(current)</span></a>
              </li> -->
        </ul>
      </nav>
  </header>


<section class = "use">
    <div class="our">
    <!-- <section id="header">
        <nav class = "navbar navbar-expand-lg navbar-dark">
            <div class = "container">
                <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png" style="width:50px"></a> -->
                        <!--<a href="#" class="navbar-brand"> CMS HEXAWARE</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls ="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class ="navbar-toggler-icon"></span>
                        </button>-->
                        <!-- <div class="collapse navbar-collapse" id ="navbarSupportedContent">
                        <ul class ="navbar-nav ml-auto"> -->
                            <!--<li class="nav-item active">
                                <a href="userprofile.html" class="nav-link"> MyProfile</a>
                            </li>-->
                            <!-- <li class="nav-item">
                                <a href="admin.html" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="login.html" class="nav-link"> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
          </section> -->
          
      <h2 style="text-align:center" class="heading">User Profile Card</h2>
    
        <div class="card">
          <img src="../../assets/images/prasanna.jpg" alt="prasanna" style="width:100%">
           <h1>Prasanna</h1>
          <p class="title">Admin Head</p>
          <p>49207</p>
          <div class="contact">
          <p>Contact</p>
          <p>4652342222</p>
          </div> 
        </div>
    
        <!-- Footer -->
    <!-- <footer id="sticky-footer" class="py-4 text-white-50">
    <div class="container ">
      <div class = "d-flex flex-column justify-content-center align-items-center p-1">
       <div class="col-lg-1 col-md-8 mb-2"> -->
     <!--  <div class="view overlay z-depth-1-half">-->
      <!-- <img src="../../assets/images/logo.png" class="img-fluid"
            alt="">
            <a href="">
               <div class="mask rgba-white-light"></div>
          </a>
        </div>
      <small>&copy;2019 AAR</small>
    </div>
    </div>
    </footer> -->
    <!-- Footer -->
    </div>
    </section>

    <!-- <footer id="sticky-footer" class="py-4 text-white-50">
        <div class="container ">
            <div class = "d-flex flex-column justify-content-center align-items-center p-1">
             <div class="col-lg-1 col-md-8 mb-2">
           
            <img src="assets/images/logo.png" class="img-fluid"
                  alt="">
                  <a href="">
                     <div class="mask rgba-white-light"></div>
                </a>
              </div>
            <small>&copy;2019 AAR</small>
          </div>
          </div>
      </footer> -->
