<header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#"><img src="assets/images/logo.png" style="width:50px"></a>
          
            <!-- Links -->
            <ul class="navbar-nav ml-auto">
              <!-- <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="./login">Log In</button>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" routerLink="../Order">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" routerLink="../home">Logout <span class="sr-only">(current)</span></a>
                  </li>
            </ul>
          </nav>
      </header>


<section class = "newtran">
 <div class="myone">
   <!-- <div class= "container-fluid h-100">
    <div class = "d-flex flex-column justify-content-center h-100 align-items-center p-4">
     <div style="text-align:left">
        <h1>
            {{ title }}
        </h1>
    
        <table > -->
            <!-- ADD HEADERS -->
            <!-- <tr>
                <th>ID</th>
                    <th> Vendor</th>
                    <th>ItemName</th>
                        <th>Price</th>
            </tr>
     -->
            <!-- BIND ARRAY TO TABLE -->
            <!-- <tr *ngFor="let e of emptrans">
                <td>{{e.id}}</td>
                    <td>{{e.Vendor}}</td>
                        <td>{{e.itemname}}</td>
                        <td>{{e.price}}</td>
            </tr>
        </table>
    </div>
</div>
</div> -->
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Order History</h1>



        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container text-center">

            <div class="row text-center">
                <div class="col-md-12 text-center">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Vendor</th>
                            <th>ItemName</th>
                            <th>Price($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of emptrans">
                            <td style="width: 150px"><strong>{{e.id}}</strong></td>
                            <td style="width: 150px"><strong>{{e.Vendor}}</strong></td>
                            
                            
                            <td style="width: 150px"><strong>{{e.itemname}}</strong></td>
                            <td style="width: 150px"><strong>{{e.price}}</strong></td>
                            
                       </tr>
                    </tbody>

                    </table>

                </div>


            </div>
        </div>
    </div>



</main>
 




</div>
</section>

