<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" style="width:50px"></a>
      
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="">Log Out</button>
          </li>
          <li class="nav-item">
                <a class="nav-link" routerLink="/etran">History <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" routerLink="/Employee">Profile <span class="sr-only">(current)</span></a>
                </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">About us <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>
      <section id="order">
  <div class="container">
    
        <div class="col-lg-10 mx-auto col-12 text-center mb-3">
            <h1 class="hh mt-0 text-primary">Our Menu</h1>
            <p class="hh lead" style="color: white">Begin with a selection from our award winning beverage menu or choose a wine from our extensive wine list. Our wine list features over 100 different vintages and has received the chamber of commerce award of excellence.</p>
        </div>
        <div class="row text-center">
        <p>
            <button type="button" class="btn btn-primary" (click)="AmericanCollapsed = !AmericanCollapsed"
                    [attr.aria-expanded]="!AmericanCollapsed" aria-controls="collapseExample">
              American Menu
            </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </p>
          <div id="collapseExample" [ngbCollapse]="AmericanCollapsed">
            <div class="row">
            <div class="col-md-4" *ngFor="let n of menuItem">
                <div *ngIf="n.vendorId==3401">

                
                <div class="card mb-4 box-shadow">


                    <div class="card-body">
                            <div class="hovereffect">
                                    <img class="card-img-top"
                                data-src="holder.js/100px250?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x250]" src="{{n.itemImage}}" data-holder-rendered="true"
                                style="height: 250px; width: 100%; display: block;">
                                <!-- <img class="img-responsive" style="width:100%" src="assets/images/Indian.jpg" alt=""> -->
                                <div class="overlay">
                                            <h2 class="hh">{{n.itemName}}</h2>
                                       <a class="info" title="Add to Your Order" (click)="details1(n)"><i class="fas fa-cart-arrow-down"></i></a>
                                    </div>
                                </div>
                                <p class="card-text"><strong>{{n.itemName}}</strong><span
                                    style="float: right"><strong>${{n.itemPrice}}</strong></span>
                            </p>

                        
                    </div>
                </div>
            </div>
            </div>
        </div>
       </div>

    <p>
        <button type="button" class="btn btn-primary" (click)="IndianCollapsed = !IndianCollapsed"
                [attr.aria-expanded]="!IndianCollapsed" aria-controls="collapseExample">
          Indian Menu
        </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
      <div id="collapseExample" [ngbCollapse]="IndianCollapsed">
        <div class="row">
     
        <!--indian-->
        <div class="col-md-4" *ngFor="let n of indianVendors">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                        <div class="hovereffect">
                                <img class="card-img-top"
                                data-src="holder.js/100px250?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x250]" src="{{n.image}}" data-holder-rendered="true"
                                style="height: 250px; width: 100%; display: block;">
                                <!-- <img class="img-responsive" style="width:100%" src="assets/images/Indian.jpg" alt=""> -->
                                <div class="overlay">
                                        <h2 class="hh">{{n.name}}</h2>
                                   <a class="info" title="Add to Your Order" (click)="details2(n)"><i class="fas fa-cart-arrow-down"></i></a>
                                </div>
                            </div>
                            <p class="card-text"><strong>{{n.name}}</strong><span
                                style="float: right"><strong>${{n.price}}</strong></span>
                        </p>
                </div>
            </div>
        </div>
    </div>
        </div>
        <!--INDIAN-->
    
        <p>
            <button type="button" class="btn btn-primary" (click)="MexicanCollapsed = !MexicanCollapsed"
                    [attr.aria-expanded]="!MexicanCollapsed" aria-controls="collapseExample">
              Mexican Menu
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="MexicanCollapsed">
            <div class="row">
         
        <!--MEXICAN-->

        <div class="col-md-4" *ngFor="let n of mexicanVendors">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                        <div class="hovereffect">
                                <img class="card-img-top"
                                data-src="holder.js/100px250?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                                alt="Thumbnail [100%x250]" src="{{n.image}}" data-holder-rendered="true"
                                style="height: 250px; width: 100%; display: block;">
                                <!-- <img class="img-responsive" style="width:100%" src="assets/images/Indian.jpg" alt=""> -->
                                <div class="overlay">
                                   <h2 class="hh">{{n.name}}</h2>
                                   <a class="info" title="Add to Your Order" (click)="details3(n)"><i class="fas fa-cart-arrow-down"></i></a>
                                </div>
                            </div>
                            <p class="card-text"><strong>{{n.name}}</strong><span
                                style="float: right"><strong>${{n.price}}</strong></span>
                        </p>

                    
                </div>
            </div>
        </div>
    </div>
          </div>
        </div>
        <!--MEXICAN-->
        <br>
            <hr>
            <p>
                    <button type="button" class="btn btn-primary" (click)="CartCollapsed = !CartCollapsed"
                            [attr.aria-expanded]="!CartCollapsed" aria-controls="collapseExample">
                      Cart
                    </button>
                  </p>
                  <div id="collapseExample" [ngbCollapse]="CartCollapsed">
            

            <section id="mycart" style="position: inherit;">
                <h3 style="color: white">My Orders</h3>
                <table style="width: 40%" class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">Item Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let l of list1" let result=0>

                            <td>{{l.name}}</td>
                            <td>${{l.price}}</td>
                            <td><button class="btn btn-danger btn-sm" (click)="deleteItem1(l)">Remove</button></td>
                        </tr>
                        <tr *ngFor="let l of list2" let result=0>

                            <td>{{l.name}}</td>
                            <td>${{l.price}}</td>
                            <td><button class="btn btn-danger btn-sm" (click)="deleteItem2(l)">Remove</button></td>
                        </tr>

                        <tr *ngFor="let l of list3" let result=0>

                            <td>{{l.name}}</td>
                            <td>${{l.price}}</td>
                            <td><button class="btn btn-danger btn-sm" (click)="deleteItem3(l)">Remove</button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h2 style="color: white">Total : ${{total}} </h2>

                <button *ngIf="list1.length>0 || list2.length>0 || list3.length" class=" btn btn-outline-primary btn-lg"
                    (click)="checkOut(l)">Checkout</button>

            </section>
        </div>
        <p>
                <button type="button" class="btn btn-primary" (click)="AddCollapsed = !AddCollapsed"
                        [attr.aria-expanded]="!AddCollapsed" aria-controls="collapseExample">
                        Add Balance
                </button>
              </p>
              <div id="collapseExample" [ngbCollapse]="AddCollapsed">
        <section id="addmoney" style="float: inherit;">
           
            
            <input type="number" [(ngModel)]="amount" placeholder="Enter Amount" min="1" required> <br><br>
            <button class="btn btn-sm btn-outline-success" (click)="addBalance()">Add Money to Wallet</button>
        </section>
        </div>
</div>
</section>
 


