
<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="assets/images/logo.png" style="width:50px"></a>
      
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="./login">Log In</button>
          </li> -->
           <li class="nav-item">
            <a class="nav-link" routerLink="./login">Log In <span class="sr-only">(current)</span></a>
          </li> 
          <li class="nav-item">
              <a class="nav-link" routerLink="../home">Main Menu <span class="sr-only">(current)</span></a>
            </li> 
        </ul>
      </nav>
  </header>
  <section class="myown">
    <div class="log">
      <div class= "container-fluid h-100">
        <div class = "d-flex flex-column justify-content-center h-100 align-items-center  p-4 ">
          <h1 class= "company-name" >LOGIN</h1>
          <form  (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
            <div class="form-group">
              <input type="text" id="usr_username" class="fadeIn third" name="username" 
              placeholder="Username" required [(ngModel)]="userData.username">
              <!-- <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger"> 
                <div *ngIf="username.errors.required">Username is required.</div>
                <div *ngIf="username.errors.minlength">Username must be atleast of 4 charcters</div>
              </div> -->
            </div>
            <div class="form-group">
              <input type="password" id="usr_password" class="fadeIn fourth" name="password" 
              placeholder="Password" required [(ngModel)]="userData.password">
              <!-- <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger"> 
              <div *ngIf="password.errors.required">password is required.</div>
              <div *ngIf="password.errors.minlength">password must be atleast of 4 charcters</div>
              </div> -->
            </div>
            <div class="form-group">
              <select name="type" class="fadeIn second" id="type"
                [(ngModel)]="userData.type">
                <option value="Employee">Employee</option>
                <option value="Vendor">Vendor</option>
                <option value="Admin">Admin</option>>
              </select>
              <!-- <div *ngIf="role.invalid && role.touched" class="alert alert-danger"> 
              <div *ngIf="role.errors.required">role is required.</div>
              </div> -->
            </div>
            <button type="submit"   class="btn btn-success">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

