
          
          <div class="container">
                <div class="row">
                    
                        <div class="card">
                            <div class="card-body">
                                <img src="assets\images\Robert-profile.jpg"alt="robert" style="width:45%">
                                <table>
                                  <br>
                                  <tr>
                                    <td align=left><b>Name:</b></td>
                                    <td align=left>{{mexicanprofile.name}}</td>
                                  </tr>
                                  <br>
                                  <tr>
                                    <td align=left><b>Address:</b></td>
                                    <td align=left>{{mexicanprofile.address}}</td>
                                  </tr>
                                  <br>
                                  <tr>
                                      <td align=left><b>Email Id:</b></td>
                                      <td align=left>{{mexicanprofile.emailid}}</td>
                                    </tr>
                                    <br>
                                    <tr>
                                        <td align=left><b>Contact No:</b></td>
                                        <td align=left>{{mexicanprofile.contact}}</td>
                                      </tr>
                                      <br>
                                      <tr>
                                          <td align=left><b>Wallet Balance:</b></td>
                                          <td align=left>{{mexicanprofile.balance}}</td>
                                        </tr>
                                        <br>
                                </table>
                              </div>
                           </div> 
            </div>
                </div>
          
        
    

